<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.zhiyuan.biz.dao.UserDao">  
<resultMap id="userMap" type="com.zhiyuan.domain.User">
		<result property="userId" column="userId" /><!-- 主键 -->
		<result property="userName" column="userName" /><!-- 类路径 -->
		<result property="account" column="account" /><!-- 操作人 -->
		<result property="phone" column="phone" /><!-- 操作标识 -->
		<result property="password" column="password" /><!-- 操作时间 -->
		<result property="address" column="address" /><!-- 日志具体信息 -->
	</resultMap>
    <!-- 目的:为DAO接口方法提供sql语句配置-->  
  
    <select id="getListUser" resultMap="userMap">  
        SELECT * FROM USER  
    </select>  
</mapper>  